.contenidoDerecha h2{
	text-align: center;
}

.gridDerecha{
	display: grid;
	grid-template-columns: auto auto;
}

.subItem p{
	margin-top: 3em;
	text-align: justify;
}

.imagen:hover{
	cursor: pointer;
	opacity: 0.69;
}

